{% extends 'base.html' %}

{% block title %}
    Wishlist
{% endblock %}

{% block content %}
<div class="container-fluid m-5" style="width: 95vw">
    <h1>Wishlist
        {% if wishlist.count_cards() == 1 %} 
            (1 card, 1 distinct)
        {% endif %}
        {% if wishlist.count_cards() != 1 %}
            ({{wishlist.count_cards()}} cards, 
            {{wishlist.count_cards_distinct()}} distinct)
        {% endif %}
    </h1>
    <br>
    <!-- button for card actions: delete from table, add to deck, add to inventory, etc -->
    <!-- add search/filter -->
    <table class="table table-striped table-hover table-bordered border-dark align-middle card-table">
        <thead>
          <tr>
            <th scope="col" style="width: 100px;">
                <input type="checkbox" id="selectAll">
                <!-- make all rows check when this is checked -->
            </th>
            <th scope="col" style="text-align: center;">#</th>
            <th scope="col" style="text-align: center;"><i class="fa-solid fa-inbox" title="Inventory Count"></i></th>
            <th scope="col" style="text-align: center;"><i class="fa-solid fa-hammer" title="Built Deck Count"></i></th> 
            <th scope="col" style="text-align: center;"><i class="fa-solid fa-lightbulb" title="Deck Idea Count"></i></th> 
            <th scope="col" style="text-align: center;"><i class="fa-solid fa-layer-group" title="Total Deck Count"></i></th> 
            <th scope="col">Name</th>
            <th scope="col" style="text-align: center;">Set</th>
            <th scope="col" style="text-align: center;">Foil</th>
            <th scope="col" style="text-align: center;">$</th>
            <th scope="col">Type</th>
            <th scope="col">Mana Cost</th>
            <th scope="col" style="text-align: center;">P</th>
            <th scope="col" style="text-align: center;">T</th>
            <th scope="col">Modified</th>
          </tr>
        </thead>
        <tbody>
            {% for item in cardlist %}
            <tr class="{{item.card.id}}">
                <td class="edit-td">
                    <input type="checkbox" class="me-3">
                    <button type="button" class="btn btn-secondary btn-sm edit">Edit</button>
                </td>
                <td class="fs-6" style="text-align: center;">{{item.count}}</td>
                <td class="fs-6" style="text-align: center;">{{item.card.wishlist_count(wishlist.id)}}</td>
                <td class="fs-6" style="text-align: center;">{{item.card.built_count(g.user.id)}}</td>
                <td class="fs-6" style="text-align: center;">{{item.card.idea_count(g.user.id)}}</td>
                <td class="fs-6" style="text-align: center;">{{item.card.deck_count(g.user.id)}}</td>
                <td class="fs-6">
                    <div class="hover_img">
                        <a href="/cards/{{item.card.id}}">
                            {{item.card.name}} 
                            <span>
                                <img style="width:300px" src="{{item.card.load()['image_uris']['normal']}}" alt="Image of card named {{item.card.name}}"/>
                            </span>
                        </a>
                   </div>
                </td>
                <td class="fs-6" style="text-align: center;">
                    <a href="" title="{{item.card.set}}"> <!-- add link -->
                        <img style="width: 40px;" src="https://gatherer.wizards.com/Handlers/Image.ashx?type=symbol&set={{item.card.set_id}}&size=large&rarity={{item.card.rarity[0]}}" alt="Icon for set titled {{item.card.set}}">
                    </a>
                    <!-- make form a pop-up, include fields for set/print, foil, count. make split button -->
                    <form action="" method="post" hidden>
                        <form action="/action_page.php">
                            <input list="sets">
                            <datalist id="sets">
                                {% for set in item.card.get_alt_sets() %}
                              <option value="{{set[0]}}, Card #{{set[1]}}">
                                {% endfor %}
                            </datalist>
                          </form>
                    </form>
                </td>
                <td class="fs-6" style="text-align: center;">
                    {% if item.foil %}
                    <i class="fa-solid fa-bahai"></i></td>
                    {% endif %}
                <td class="fs-6" style="text-align: center;">${{item.card.get_price()}}
                <!-- edit so that foil cards get foil price -->
                </td>
                <td class="fs-6">{{item.card.type_line}}</td>
                <td class="">
                    {% for sym in item.card.mana_cost.split() %}
                        <img style="width: 18px" src="{{item.card.get_icon_uri(sym)}}">
                    {% endfor %}
                </td>
                
                <td class="fs-6" style="text-align: center;">
                    {% if item.card.power %}
                    {{item.card.power}}
                    {% endif %}
                </td>
                <td class="fs-6" style="text-align: center;">
                    {% if item.card.toughness %}
                    {{item.card.toughness}}
                    {% endif %}
                </td>
                <td class="fs-6">{{item.timestamp.strftime('%m/%d/%Y, %H:%M')}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    
</div>
{% endblock %}

