{% extends 'base.html' %}

{% block title %}
    MTG Treasure
{% endblock %}

{% block content %}
<div class="container-fluid m-5">
    <h1>{{set.name}}</h1>
    <p class="fst-italic">THE NEWEST MTG EXPANSION SET</p> <br>
    <div class="d-flex flex-wrap bd-highlight mb-3">
        {% for card in cards if card.image_uris %}
        <div class="m-2 bd-highlight card card-hover" style="width: 300px">
            <a href="/cards/{{card.id}}">    
                <img class="mw-100" src={{card.image_uris.normal}} alt="">
            </a>
        </div>
        {% endfor %}
    </div>
    </ul>
</div>
{% endblock %}